<div class="footer">
  <div class="footer__wrapper">
    <div class="footer__first-column">
      <img
        src="../../../assets/footer-logo.svg"
        alt="logo"
        class="footer__logo"
      />
      <p class="footer__caption">
        Собитека — это сервис поиска объявлений об аренде квартир
        от собственника
      </p>
    </div>
    <nav class="footer__second-column">
      <p class="footer__nav-item">О приложении</p>
      <p class="footer__nav-item">Тарифный план</p>
      <p class="footer__nav-item">Частые вопросы</p>
    </nav>
    <div class="footer__third-column">
      <app-button title="ios"></app-button>
      <app-button title="android"></app-button>
    </div>
  </div>
</div>
