@import "../../../sass/variables";

.footer {
  min-height: 248px;
  background-image: url(../../../assets/footer-back-1920.svg);
  background-repeat: no-repeat;
  color: $color-text-white;
  display: flex;
  align-items: center;

  &__wrapper {
    margin: auto;
    padding: $padding-less-1920;
    max-width: 1180px;
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__first-column {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__second-column {
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &__third-column {
    display: flex;
    gap: 20px;
  }

  &__logo {
    width: 216px;
    height: 50px;
  }

  &__caption {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  &__nav-item {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    transition: 0.7s;
    cursor: pointer;
  }

  &__nav-item:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 1280px) {
  .footer {
    &__third-column {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    background-image: url(../../../assets/footer-back-1000.svg);
    min-height: 381px;

    &__wrapper {
      flex-wrap: wrap;
      margin: 0;
    }

    &__first-column {
      order: 2;
      max-width: 280px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__second-column {
      flex-direction: row;
      order: 1;
      width: 100%;
      justify-content: space-between;
      margin: 30px 0 50px;
    }

    &__third-column {
      order: 3;
      display: flex;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 670px) {
  .footer {
    background-image: url(../../../assets/footer-back-670.svg);
    min-height: 655px;

    &__wrapper {
      flex-direction: column;
      justify-content: center;
      gap: 50px;
    }

    &__first-column {
      max-width: 220px;
      order: 3;
      align-items: center;
      text-align: center;
      gap: 16px;
    }

    &__second-column {
      min-width: 230px;
      flex-direction: column;
      order: 1;
      width: auto;
      justify-content: space-between;
      margin: 0;
    }

    &__third-column {
      order: 2;
      display: flex;
      gap: 20px;
    }
  }
}
