<div class="steps">
  <div class="step">
    <div class="step__content">
      <p class="step__text">
        Собитека — это сервис поиска объявлений об аренде квартир
        <span>от собственника</span>
      </p>
      <p class="step__caption">
        Наши алгоритмы сканируют самые популярные сайты по аренде недвижимости
        и отсекают все плохие объявления, оставляя только 10% самых релевантных
      </p>
    </div>
    <img
      src="../../../assets/first-step.svg"
      alt="step-image"
      class="step__image"
    />
  </div>

  <div class="step">
    <div class="step__content">
      <p class="step__text">
        Мы избавим вас от мошенников и недостоверной информации, а также
        сократим часы поиска.
      </p>
    </div>
    <img
      src="../../../assets/second-step.svg"
      alt="step-image"
      class="step__image"
    />
  </div>

  <div class="step">
    <div class="step__content">
      <p class="step__text">
        Наше приложение экономит гору времени, а стоит как 2 чашки кофе!
      </p>
    </div>
    <img
      src="../../../assets/third-step.svg"
      alt="step-image"
      class="step__image"
    />
  </div>

  <div class="step">
    <div class="step__content">
      <p class="step__text">
        Алгоритм — арбитр обрабатывет тысячи критериев и делает вывод
        на основании своей внутреней оценки.
      </p>
    </div>
    <img
      src="../../../assets/fourth-step.svg"
      alt="step-image"
      class="step__image"
    />
  </div>
</div>

<div class="step-bottom">
  <div class="step-bottom__left">
    <p class="step-bottom__text">
      Мы не продаём ваши пользовательские данные и не имеем других источников
      дохода кроме подписки наших пользователей.
      <span>Наш тарифный план — неделя, оптимален.</span>
    </p>
    <div class="step-bottom__btns">
      <app-button title="ios"></app-button>
      <app-button title="android"></app-button>
    </div>
  </div>

  <div class="step-bottom__right">
    <p class="step-bottom__text">7 дней доступа за <span>399 рублей</span></p>
  </div>
</div>
