<div class="last-step">
  <div class="last-step__left">
    <p class="last-step__text">
      Мы не продаём ваши пользовательские данные и не имеем других источников
      дохода кроме подписки наших пользователей.
      <span>Наш тарифный план — неделя, оптимален.</span>
    </p>
    <div class="last-step__btns">
      <app-button title="ios"></app-button>
      <app-button title="android"></app-button>
    </div>
  </div>

  <div class="last-step__right">
    <p class="last-step__text">7 дней доступа за <span>399 рублей</span></p>
  </div>
</div>
