@import "../../../sass/variables";

.main-layout {
  display: flex;
  align-items: center;
  background-image: url(../../../assets/main-layout-1920.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 578px;
  position: relative;

  &__bubbles {
    position: absolute;
    top: -97px;
    left: 0;
  }

  &__content {
    padding: $padding-less-1920;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 580px;
  }

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
  }

  &__caption {
    margin: 20px 0 30px;
    width: 481px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }

  &__btns-block {
    display: flex;
    gap: 20px;
  }

  span {
    color: $color-text-orange;
  }
}

@media screen and (max-width: 1280px) {
  .main-layout {
    &__bubbles {
      display: none;
    }

    &__content {
      width: 368px;
    }

    &__title {
      font-weight: 700;
      font-size: 40px;
      line-height: 46px;
    }

    &__caption {
      width: 100%;
    }
  }
}

@media screen and (max-width: 670px) {
  .main-layout {
    background-image: url(../../../assets/main-layout-670.svg);
    padding-right: 0;
    min-height: 454px;

    &__content {
      max-width: 340px;
    }

    &__caption {
      font-size: 14px;
      line-height: 24px;
      margin: 20px 0;
    }

    &__title {
      font-size: 30px;
      line-height: 34px;
    }

    &__btns-block {
      flex-direction: column;
    }
  }
}
