<div class="main-layout">
  <img
    src="../../../assets/bubbles.svg"
    alt="bubbles"
    class="main-layout__bubbles"
  />
  <div class="main-layout__content">
    <h1 class="main-layout__title">
      Поможем найти <span>квартиру</span> мечты
    </h1>
    <p class="main-layout__caption">
      Мобильное приложение для поиска объявлений об аренде квартир
      от собственника
    </p>

    <div class="main-layout__btns-block">
      <app-button title="ios"></app-button>
      <app-button title="android"></app-button>
    </div>
  </div>
</div>
