@import "../../../sass/variables";

.accordion {
  margin: auto;
  padding: $padding-less-1920;
  max-width: 1180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }

  &__item {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border: 2px solid #f8e4da;
    border-radius: 20px;
    padding: 57px 40px;
    background-color: none;
    transition: 0.3s;
  }

  &__header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  img {
    margin-left: auto;
  }

  &__name {
    margin: 0;
  }

  &__content {
    margin: 0;
    padding-left: 23.77px;
    // display: none;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
  }
}

.displayActive {
  // display: flex;
  max-height: 150px;
}

.backgroundActive {
  background-color: #fbf8f4;
}

@media screen and (max-width: 1000px) {
  .accordion {
    &__title {
      font-size: 40px;
      line-height: 46px;
    }

    &__list {
      font-size: 18px;
      line-height: 28px;
      gap: 20px;
    }

    &__item {
      padding: 18px 20px;
    }
  }
}

@media screen and (max-width: 670px) {
  .accordion {
    &__title {
      font-size: 30px;
      line-height: 34px;
    }

    &__list {
      font-size: 14px;
      line-height: 24px;
    }

    &__item {
      padding: 26px 10px;
    }

    span {
      margin-right: 6px;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}
