.accordion {
  padding: 0 130px;
  max-width: 1180px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }

  &__item {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border: 2px solid #f8e4da;
    border-radius: 20px;
    padding: 57px 40px;
  }

  &__header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__header:hover {
    opacity: 0.7;
    transition: 0.7s;
  }

  span {
    margin-right: 40px;
  }

  img {
    margin-left: auto;
  }

  &__name {
    margin: 0;
  }

  &__content {
    margin: 0;
    padding-left: 59px;
    display: none;
  }
}

.active {
  display: flex;
}
